<%- include('../partials/header') %>
<% function numberWithCommas(x) { %>
    <% return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
<% } %>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Total Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <% categories.forEach((category) => { %>
                <% let totalCost = 0; %>
                <% let count = 0; %>
                <% for(let i = 0; i < user.items.length; i++) {%>
                    <% if(user.items[i].category === category) { %>
                      <%  count += 1 %>
                      <% totalCost += user.items[i].cost %>
                   <% } %>
            <% } %> 
            <% if (count > 0) { %>
                <td> <%= category %> </td>
                <td><%=count%></td>
                <td>$<%=totalCost%></td>
            <% } %>
            </tr>
            <% }) %>
               
        </tr>
    </tbody>
</table>
<% let totalSpendings = 0 %>
  <h3> Total Spendings: 
      <% user.items.forEach((m) => { %>
        <% totalSpendings += m.cost %>
  <% }) %>
  $<%= totalSpendings.toFixed(2) %>
  <% user.totalSpendings %> 
  </h3>
<%- include('../partials/footer') %>